*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 body{
    overflow: hidden;
 }
 
 /* <---nav-bar--->*/
 nav{
    display: flex;
    margin: 10px 20px;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
   
   
 }
 [alt="logo"]{
   width: 130px;
   
 }
 .nav-items{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    font-size: 30px;
 }
 
 .active-item{
    color: orangered;
   
 }
 [alt="actions"]{
    width: 300px;
    
 }
 
 /* <---intro-section---> */
 
 .intro-section{
    display: flex;
    height: 90vh;
    padding: 0 50px;
    
 }
 
 /* <---left-section---> */
 
 .left-section{
    flex-basis:55vw ;
    position: relative;
 
 }
 
 .left-section h3{
    font-size: 2em;
 }
 [alt="circles"]{
    width: 50px;
 }
 
 .left-section h1{
    font-size: 5em;
    position: absolute;
    top: 80px;
 }
 
 .sub-headlines{
    position: absolute;
    top: 200px;
    left: 80px;
 }
 .sub-headline {
    font-size: 1.5em;
    line-height: 2em;
    
 }
 
 .sub-headline img {
    background-color: orangered;
    border-radius: 50%;
    
    
 }
 
 .text{
    width: 90%;
    position: absolute;
    top: 400px;
    
 
 }
 
 .action-btns{
    position: absolute;
    top: 500px;
   
 }
 
 .action-btn{
    padding: 15px 25px;
    border-radius: 36px;
    border: none;
    font-size: 1.2em;
    background-color: orangered;
    color: aliceblue;
 }
 
 
 /* <---right-section---> */
 
 .right-section{
    flex-basis: 45vw;
    
    
    
 }
 
 
 [alt="headphone"]{
    width :80%;
 }
 
 .discount{
    position: absolute;
    width: 140px;
    top: 53%;
    left: 53%;
   }
   
   .discount-content h4{
    position: absolute;
    top: 58%;
    left: 55%;
 }
 .discount-content h1{
   position: absolute;
   top: 60%;
    left: 55%;
    font-size: 3em;
  
   
}

.dots{
   display: flex;
   position: absolute;
   top: 80%;
   left: 67%;
   width: 150px;
   justify-content: space-between;
}

.yellow-dot::after{
   content: "";
   background-color: yellow;
   border-radius: 50%;
   display: inline-block;
   height: 20px;
    width: 20px;
}

.tomato-dot::after{
   content: "";
   background-color: tomato;
   border-radius: 50%;
   display: inline-block;
   height: 20px;
    width: 20px;
}

.black-dot::after{
   content: "";
   background-color: black;
   border-radius: 50%;
   display: inline-block;
   height: 20px;
    width: 20px;
}



.right-section .action-btn{
   position: absolute;
   top: 85%;
   left: 67%;
}


/* <---mediaquery---> */

@media  screen and (max-width:1380px) {

   .left-section h1{
      font-size: 4em;
   }

   [alt="headphone"]{
      position: relative;
      top: 50px;
      z-index: -1;
   }

   .discount{
      width: 120px;
   }

   
}

@media screen and (max-width:1121px){
   .discount{
      width: 100px;
   }

   .discount-content h4{
      position: absolute;
      top: 58%;
      left: 55%;
   }
   .discount-content h1{
     position: absolute;
     top: 60%;
      left: 55%;
      font-size: 2em;
    
     
  }

  .sub-headlines{
   
   top: 220px;
   
}

   
}
 
@media screen and (max-width:800px) {

   .sub-headlines{
     
      left: 40px;
   }

   [alt="headphone"]{
     position: relative;
     left: 50px;
     top: 110px;
   }
   
}

@media screen and (max-width:750px){

   .action-btn{
      font-size: 1em;
      padding: 10px 15px;
   }
   

   .nav-items{
      display: none;
   }

   
   .left-section h1{
      font-size: 2.5em;
      top: 50px;
   }

   .sub-headlines{
      
      top: 170px;
      left: 20px;
      
   }

   .text{
      
      top: 330px;
      
   
   }
   
}

@media screen and (max-width:670px){

   
  
   .intro-section{
      flex-direction: column;
      align-items: center;
   }

   .text{
      display: none;
   }


   .left-section .action-btn{
      display: none;
   }

   .sub-headlines:nth-child(3){
      
      top: 140px;
      left: 10px;
      
   }


   .discount{
      display: none;
   }

   .discount-content h4{
      display: none;
   }
   .discount-content h1{
      display: none;
    
     
  }

  .dots{
   
  display: none;
   
}


.right-section .action-btn{
   position: absolute;
      top: 95%;
      left: 40%;
}



}
   


   
